body{
	background-color: #eee;
	font-family: Trebuchet MS,'Exo 2',sans-serif;
}
label{
	color: #4f4f4f;
}
#menu.navbar-default{
	background-color: #00314b;
	box-shadow: 0px 0px 15px 1px gray;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: solid 1px white;
}
#menu.navbar-default .navbar-nav > li a{
	color: white;
	font-size: 1.1em;
	text-shadow: 0.5px 0.5px 0.5px gray;
}
#menu.navbar-default .navbar-nav > li a:hover,
#menu-left div ul li a:hover{
	text-shadow: 0px 0px 2px white;
	background-color: #00314b;
}
#menu.navbar-default .navbar-header > .navbar-brand{
	border-right: solid 1px; 
	font-size: 1.3em;
	color: white;
	font-weight: bold;
	text-shadow: 0.5px 0.5px 0.5px gray;
}
#menu.navbar-default .navbar-header > .navbar-brand img{
	position: relative; 
	top: -13px;
}
.navbar-header button.navbar-toggle{
	background-color: white;
	border-color: white;
	border-radius: 2px;
}
#menu-left{
	background-color: #00314b;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: solid 1px white;
	position: absolute;
	min-height: 92.4%;
	height: 92.4%;
}
#menu-left div ul li a{
	color: white;
	font-size: 1.1em;
	text-shadow: 0.5px 0.5px 0.5px gray;
}
#login-content{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	height:100%;
	min-height: 100%;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
  	align-items: center;
}
#login-content{
	background-color: #eee;
	filter: alpha(opacity=65);
}
#form-send-file{
	margin-top: 100px;
	padding: 15px 20px;
}
#form-login{
	box-shadow: 1.5px 1.5px 6px 1px gray;
	background-color: white;
	border-radius: 4px;
	padding-top: 15px;
}
#form-login button,
#form-send-file .btn-success{
	font-size: 1.2em;
} 
#message.col-md-4,
#message.col-sm-6,
#message.col-xs-12{
	padding-right: 0;
	padding-left: 0;
}
.file {
  visibility: hidden;
  position: absolute;
}
#presentation-box{
	color: black;
	margin-top: 50px;
	box-shadow: 1px 1px 8px 1px gray;
	background-color: white;
}
#presentation-box.col-md-8,
#presentation-box.col-sm-8,
#presentation-box.col-xs-12{
	padding-left: 0;
	padding-right: 0;
}
#title{
	background-color: #00314b; 
	margin: 0px 0px 30px 0px;
	padding: 15px 0px 15px 20px;
	border-bottom: solid 1px gray;
	color: white;
}
#sub-title{
	margin-bottom: 29px;
	font-size: 1.6em;
}
#presentation-body{
	padding: 5px 20px 20px 20px;
}
#presentation-body b{
	font-size: 1.1em;
}
#presentation-body li{
	margin-bottom: 2px;
}